<!DOCTYPE html>
<html lang="en" ng-app="ux">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/components/bootstrap-5.2.3/bootstrap.css" />
    <link rel="stylesheet" href="/components/font-Awesome-6.x/css/all.css" />
    <link rel="stylesheet" href="/components/sweetalert/css/sweetalert2.css" />
</head>
<!-- //// -->

<body ng-controller="productList">

    <header class="sticky-top ">
        <div ng-include src="'/views/component/navbar.html'"></div>
    </header>

    <div class="row m-4" style="display: flex; justify-content: center;">
        <div class="col-2 text-center">
            <h3 style="font-weight: bolder; color: darkslateblue;">Curso</h3>
        </div>
        <div class="col-2 text-center">
            <h3 style="font-weight: bolder; color: darkslateblue;">Cantidad</h3>
        </div>
        <div class="col-2 text-center">
            <h3 style="font-weight: bolder; color: darkslateblue;">Eliminar</h3>
        </div>
        <div class="col-2 text-center">
            <h3 style="font-weight: bolder; color: darkslateblue;">Precio</h3>
        </div>
        <br>
        <hr>
    </div>

    <div class="row" style="display: flex; justify-content: center;">
        <div class="col-2 text-center mb-4">
            <img style="width: 50%;" src="../components/assets/java.png" alt="">
            <br>
            <h4 style="font-weight: bolder; color: cornflowerblue   ;">Curso Java</h4>
        </div>
        <div class="col-2" style="margin-top: 3.7%;">
            <div class="row text-center">
                <div style="padding-left: 50px;" class="col-5"><button
                        style="background-color: #00413B; color: white; border-style: none; width: 100%; border-radius: 10px;font-weight: bolder;"
                        id="btnClick">+</button></div>
                <div class="col-2">
                    <p id="contarClick"></p>
                </div>
                <div style="padding-right: 50px;" class="col-5"><button
                        style="background-color: sienna; color: white; border-style: none; width: 100%; border-radius: 10px; font-weight: bolder;"
                        id="btnClick2">-</button></div>
            </div>
        </div>
        <div class="col-2 text-center mt-5">
            <button class="" style="margin-left: 37%; margin-right: 37%; background: none; border-style: none;"><img
                    style="width: 100%;" src="../components/assets/delete.png" alt=""></button>
        </div>
        <div class="col-2 text-center" style="margin-top: 3.7%;">
            <h3 style=" margin-left: 37%; margin-right: 37%; background-color: burlywood; border-radius: 5px;">$499</h3>
        </div>
        <br>
    </div>

    <hr>

    <div class="row" style="display: flex; justify-content: center;">
        <div class="col-2 text-center">
            <img style="width: 50%;" src="../components/assets/piton.png" alt="">
            <br>
            <h4 style="font-weight: bolder; color: cornflowerblue ;">Curso Python</h4>
        </div>
        <div class="col-2" style="margin-top: 3.7%;">
            <div class="row text-center">
                <div style="padding-left: 50px;" class="col-5"><button
                        style="background-color: #00413B; color: white; border-style: none; width: 100%; border-radius: 10px;font-weight: bolder;"
                        id="btnClick">+</button></div>
                <div class="col-2">
                    <p id="contarClick"></p>
                </div>
                <div style="padding-right: 50px;" class="col-5"><button
                        style="background-color: sienna; color: white; border-style: none; width: 100%; border-radius: 10px; font-weight: bolder;"
                        id="btnClick2">-</button></div>
            </div>
        </div>
        <div class="col-2 text-center mt-5">
            <button class="" style="margin-left: 37%; margin-right: 37%; background: none; border-style: none;"><img
                    style="width: 100%;" src="../components/assets/delete.png" alt=""></button>
        </div>
        <div class="col-2 text-center" style="margin-top: 3.7%;">
            <h3 style=" margin-left: 37%; margin-right: 37%; background-color: burlywood; border-radius: 5px;">$699</h3>
        </div>
        <br>
    </div>

    <hr>
    <br><br>

    <div class="row mb-5">
        <div class="col-8 text-center">
            <h3 style="font-weight: bolder; color: darkslateblue;">Descuento</h3>
            <h5>0%</h5>
            <div class="row" style="display: flex; justify-content: center;">
                <div class="input-group w-50">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="text" placeholder="Ingresa el código de descuento" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <button class="input-group-text">Aplicar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 text-center">
            <h3 style="font-weight: bolder; color: darkslateblue;">Total</h3>
            <h5 style="margin-left: 45%; margin-right: 45%;">$1198</h5>
            <button style="width: 20%; border-radius: 5px;">Comprar</button> 
        </div>
        <br>
    </div>

    <footer class="text-center sticky-bottom">
        <div ng-include src="'/views/component/footer.html'"></div>
    </footer>


    <script src="/components/popper.min.js"></script>
    <script src="/components/bootstrap-5.2.3/bootstrap.min.js"></script>
    <script src="/components/angularjs/angular-1.4.6.min.js"></script>
    <script src="/components/angularjs/angular-route.js"></script>
    <script src="/components/angularjs/angular-locale_es-mx.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/sweetalert/js/sweetalert2.min.js"></script>
    <script src="/controller/productListAjs.js"></script>
</body>
<script>
    var btnElm = document.getElementById('btnClick'),
        btnElm2 = document.getElementById('btnClick2'),
        sumar = document.getElementById('contarClick'),
        restar = document.getElementById('contarClick')
    contar = 0;

    sumar.textContent = 0;
    restar.textContent = 0;

    btnElm.onclick = function () {
        contar++;
        sumar.textContent = contar;
    }
    btnElm2.onclick = function () {
        contar--;
        restar.textContent = contar;
    }
</script>

</html>