<!DOCTYPE html>
<html lang="en" ng-app="ux">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <ng-include src="'/views/component/head.html'"></ng-include>
</head>
<!-- //// -->

<body ng-controller="productList">

    <header class="sticky-top ">
        <div ng-include src="'/views/component/navbar.html'"></div>
    </header>


    <!--BOTONES DEL DASHBOARD-->
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2  ">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2  min-vh-100">
                    <ul
                        class="nav nav-pills flex-column mb-auto mb-sm-auto mb-0 align-items-center align-items-sm-start ">
                        <div class="nav-item ">
                            <li class="box">
                                <div class="ms-3 txt-dash d-flex flex-row justify-content-around ">
                                    <p>Dashboard</p>
                                    <div>
                                        <img src="../components/img/dashboard/dashboard.png">
                                    </div>
                                </div>
                            </li>
                            <br>
                            <li class="boxxd">
                                <div class="ms-3 txt-nrm d-flex flex-row justify-content-around">
                                    <p>Vista General</p>
                                    <div>
                                        <img src="../components/img/dashboard/eye.png">
                                    </div>
                                </div>
                            </li>
                            <br>
                            <li class="boxxd">
                                <div class="ms-3 txt-nrm d-flex flex-row justify-content-around">
                                    <p>Chat</p>
                                    <div>
                                        <img src="../components/img/dashboard/devicemessage.png">
                                    </div>
                                </div>
                            </li>
                            <br>
                            <li class="boxxd">
                                <div class="ms-3 txt-nrm d-flex flex-row justify-content-around">
                                    <p>Equipos</p>
                                    <div>
                                        <img src="../components/img/dashboard/profile2user.png">
                                    </div>
                                </div>
                            </li>
                            <br>
                            <li>
                                <div class="ms-2 me.auto ">
                                    <h1>Atajos</h1>
                                </div>
                            </li>
                            <br>
                            <li class="boxxd">
                                <div class="ms-3 txt-nrm d-flex flex-row justify-content-around">
                                    <p>Tareas</p>
                                    <div>
                                        <img src="../components/img/dashboard/tasksquare.png">
                                    </div>
                                </div>
                            </li>
                            <br>
                            <li class="boxxd">
                                <div class="ms-3 txt-nrm d-flex flex-row justify-content-around">
                                    <p>Reportes</p>
                                    <div>
                                        <img src="../components/img/dashboard/receiptedit.png">
                                    </div>
                                </div>
                            </li>
                            <br>
                            <li class="boxxd">
                                <div class="ms-3 txt-nrm d-flex flex-row justify-content-around">
                                    <p>Ajustes</p>
                                    <div>
                                        <img src="../components/img/dashboard/setting3.png">
                                    </div>
                                </div>
                            </li>
                            <br>
                            <li class="box-blue">
                                <div class="ms-3 txt-box text-center ">
                                    <p>Espacio Usado</p>
                                    <div>
                                        <img src="../components/img/dashboard/barra.png">
                                    </div>
                                </div>
                            </li>
                            <br>
                            <li class="box-blue">
                                <div class="ms-3 txt-nrm d-flex flex-row justify-content-around">
                                    <div>
                                        <img src="../components/img/dashboard/user.png">
                                    </div>
                                    <p>Junior</p>
                                </div>
                            </li>
                            <br>
                        </div>
                    </ul>
                </div>
            </div>
            <br>
            <div class="container-sm text-center">
                <div class="row">
                    <div class="col-md-2">
                        <h1>Bienvenido</h1>
                    </div>

                    <div class="col-md-4 offset-md-6">
                        <br>
                        <input type="email" class="form-control" placeholder="Search">
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-3 text-start">
                    <h5>Septiembre 14 de 2021</h5>
                </div>
                <br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn  btn-lg float-left text-white" onclick="window.location.pathname = '/views/dashboard.html'" style="background:#266B66;">Dashboard</button>
                    <button type="button" class="btn  btn-lg text-white" onclick="window.location.pathname = '/views/dash-register.html'" style="background:#266B66;">Registrar cursos</button>
                </div>
                <br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn  btn-lg text-white "style="background:#266B66;" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar</button>
                </div>
                <br>
                <table class="table table-borderless table-responsive rounded">
                    <thead class="table text-white" style="background:#00413B;">
                        <tr >
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Unidades</th>
                            <th scope="col">Costo</th>
                        </tr>
                    </thead>
                    <tbody class="fw-semibold" style="background:#5b9c99;">

                        <tr>
                            <td>HTML5</td>
                            <td>Maquetado de paginas web</td>
                            <td>5</td>
                            <td>$50</td>
                        </tr>
                        
                        <tr>
                            <td>Node.JS</td>
                            <td>Creacion de servicios REST</td>
                            <td>12</td>
                            <td>$20</td>
                        </tr>
                        <tr>
                            <td>TailwindCSS</td>
                            <td>Diseños de sitios web a tu manera</td>
                            <td>10</td>
                            <td>$25</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>
    </div>
    <footer class="text-center sticky-bottom">
        <div ng-include src="'/views/component/footer.html'"></div>
    </footer>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-white justify-content-center  " style="background: #00413B;">
          <h1 class="modal-title fs-5 " id="exampleModalLabel">Registrar Curso</h1>
        </div>
        <div class="modal-body">
            <form name="form1" novalidate>
                <div class="row">
                <div class="form-group form-floating col-md-6">
                    <input
                      type="date"
                      class="form-control form-control-sm "
                      ng-class="{
                        '': form1.dateE.$untouched || form1.dateE.$touched,
                        'is-valid' : form1.dateE.$valid,
                        'is-invalid' : form1.dateE.$invalid && form1.dateE.$dirty}"
                      placeholder="Fecha expiracion"
                      id="floatinginput"
                      name="dateE"
                      ng-model = "dateE"
                      ng-required = "true"
                    />
                    <label for="floatinginput" class="text-black-50" ng-hide="form1.dateE.$invalid && form1.dateE.$dirty">Fecha expiracion</label>
                    <label ng-show="form1.dateE.$invalid && form1.dateE.$dirty" class="form-label" for="floatinginput"
                    style="color:#F00073;">Llena el campo</label>
                    <!-- <label class="form-label" for="form3Example4">Password</label> -->
                  </div>
                  <div class="form-group form-floating col-md-6">
                    <input
                      type="text"
                      class="form-control form-control-sm "
                      ng-class="{
                        '': form1.name.$untouched || form1.name.$touched,
                        'is-valid' : form1.name.$valid,
                        'is-invalid' : form1.name.$invalid && form1.name.$dirty}"
                      placeholder="Nombre"
                      id="floatinginput"
                      name="name"
                      ng-model = "name"
                      minlength="4"
                      maxlength="25"
                      ng-required = "true"
                    />
                    <label for="floatinginput" class="text-black-50" ng-hide="form1.name.$invalid && form1.name.$dirty">Nombre</label>
                    <label ng-show="form1.name.$invalid && form1.name.$dirty" class="form-label" for="floatinginput"
                    style="color:#F00073;">Llena el campo</label>
                    <!-- <label class="form-label" for="form3Example4">Password</label> -->
                  </div>
                  <div class="form-group form-floating col-md-12 my-2">
                    <!-- <input
                      type=""
                      class="form-control form-control-sm "
                      ng-class="{
                        '': form1.name.$untouched || form1.name.$touched,
                        'is-valid' : form1.name.$valid,
                        'is-invalid' : form1.name.$invalid && form1.name.$dirty}"
                      placeholder="Nombre"
                      id="floatinginput"
                      name="name"
                      ng-model = "name"
                      ng-required = "true"
                    /> -->
                    <textarea  class="form-control form-control-sm "
                    ng-class="{
                      '': form1.description.$untouched || form1.description.$touched,
                      'is-valid' : form1.description.$valid,
                      'is-invalid' : form1.description.$invalid && form1.description.$dirty}"
                    placeholder="Descripcion"
                    id="floatinginput"
                    name="description"
                    ng-model = "description"
                    ng-required = "true"></textarea>
                    <label for="floatinginput" class="text-black-50" ng-hide="form1.description.$invalid && form1.description.$dirty">Descripcion</label>
                    <label ng-show="form1.description.$invalid && form1.description.$dirty" class="form-label" for="floatinginput"
                    style="color:#F00073;">Llena el campo</label>
                    <!-- <label class="form-label" for="form3Example4">Password</label> -->
                  </div>
                     <div class="form-group form-floating col-md-6 my-2">
                    <input
                      type="number"
                      class="form-control form-control-sm "
                      ng-class="{
                        '': form1.units.$untouched || form1.units.$touched,
                        'is-valid' : form1.units.$valid,
                        'is-invalid' : form1.units.$invalid && form1.units.$dirty}"
                      placeholder="Unidades"
                      id="floatinginput"
                      name="units"
                      ng-model = "units"
                      ng-required = "true"
                    />
                    <label for="floatinginput" class="text-black-50" ng-hide="form1.units.$invalid && form1.units.$dirty">Unidades</label>
                    <label ng-show="form1.units.$invalid && form1.units.$dirty" class="form-label" for="floatinginput"
                    style="color:#F00073;">Llena el campo</label>
                    <!-- <label class="form-label" for="form3Example4">Password</label> -->
                  </div>
                  <div class="form-group form-floating col-md-6 my-2">
                    <input
                      type="number"
                      class="form-control form-control-sm "
                      ng-class="{
                        '': form1.cost.$untouched || form1.cost.$touched,
                        'is-valid' : form1.cost.$valid,
                        'is-invalid' : form1.cost.$invalid && form1.cost.$dirty}"
                      placeholder="Unidades"
                      id="floatinginput"
                      name="cost"
                      ng-model = "cost"
                      ng-required = "true"
                    />
                    <label for="floatinginput" class="text-black-50" ng-hide="form1.cost.$invalid && form1.cost.$dirty">Costo</label>
                    <label ng-show="form1.cost.$invalid && form1.cost.$dirty" class="form-label" for="floatinginput"
                    style="color:#F00073;">Llena el campo</label>
                    <!-- <label class="form-label" for="form3Example4">Password</label> -->
                  </div>
          </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn text-white" style="background: #266B66;">Guardar</button>
        </div>
      </div>
    </div>
  </div>


    <script src="/components/popper.min.js"></script>
    <script src="/components/bootstrap-5.2.3/bootstrap.min.js"></script>
    <script src="/components/angularjs/angular-1.4.6.min.js"></script>
    <script src="/components/angularjs/angular-route.js"></script>
    <script src="/components/angularjs/angular-locale_es-mx.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/sweetalert/js/sweetalert2.min.js"></script>
    <script src="/controller/productListAjs.js"></script>
    <script src="https://kit.fontawesome.com/82a32396fc.js" crossorigin="anonymous"></script>

</body>

</html>