<!DOCTYPE html>
<html lang="en" ng-app="ux">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COURSES | Error 500</title>
    <link rel="shortcut icon" href="/components/img/logo.png">
    <ng-include src="'/views/component/head.html'"></ng-include>
  </head>

  <body ng-controller="login">
    <header class="sticky-top ">
      <div  ng-include src="'/views/component/navbar.html'"></div>
    </header>

   <div style="height: 45rem;background:linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
  ), url('/components/img/errors/error-500.png');

   background-repeat: no-repeat;background-size:cover;text-align: center;position: relative;">
<h4 style="color: #fff;padding-top: 90px;text-align: center;font-size: 27px;" class="fw-normal"><strong>Hay un error en el servidor</strong><br>
   Este problema es nuestro<br> no tienes que hacer nada para resolverlo.</h4>
   <div style="bottom:20px;
   height:50px;left:5%;position:absolute;margin-bottom: 20px;">
     <button type="button" class="btn text-white" style="background-color: #00413B;font-size: 22px;padding-left: 30px;padding-right: 30px;">Volver</button>
   
   </div>
   </div>

    <footer class="text-center sticky-bottom">
      <div  ng-include src="'/views/component/footer.html'"></div>
    </footer>

    <script src="/components/popper.min.js"></script>
    <script src="/components/bootstrap-5.2.3/bootstrap.min.js"></script>
    <script src="/components/angularjs/angular-1.4.6.min.js"></script>
    <script src="/components/angularjs/angular-route.js"></script>
    <script src="/components/angularjs/angular-locale_es-mx.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/sweetalert/js/sweetalert2.min.js"></script>
    <script src="/controller/loginAjs.js"></script>
  </body>
</html>
