<!DOCTYPE html>
<html lang="en" ng-app="ux">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COURSES | List</title>
    <link rel="stylesheet" href="/components/bootstrap-5.2.3/bootstrap.css" />
    <link rel="stylesheet" href="/components/font-Awesome-6.x/css/all.css" />
    <link rel="stylesheet" href="/components/sweetalert/css/sweetalert2.css" />
</head>
<!-- //// -->

<body ng-controller="inbox">

    <header class="sticky-top ">
        <div ng-include src="'/views/component/navbar.html'"></div>
    </header>


    <!--Sidebar de red social-->
    <div class="container-fluid">
        <div class="row">

            <div class="col-2">
                <p class="fw-bold fs-2 mt-2">Mailbox </p>
            </div>

            <div class="col-3 offset-7">
                <br>
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                        aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="row  ">

            <div class="col-2" ng-repeat="products in listCard">
                <div ng-repeat="icon in iconos" class="d-grid gap-3 col-10 mx-auto">
                    
                    <button " type=" button" class=" my-3 btn btn-primary "
                        style="height: 50px; border-color:#000000 ; background-color: #189EBB;">
                        <img style="height: 40px; width: 40px;" class="float-start" src="{{icon.img}}" alt=""
                            class="float-start">
                        <p ng-bind="icon.description"></p>
                    </button>


                </div>
                <br>
                <br>
                <p class="fw-bold fs-2">Etiquetas</p>
                <br>
                <br>
                <img src="{{products.img}}" class="card-img-top rounded float-start " alt="..."
                    style="height: 40px; width: 40px;">
                <p class="text-center fw-bolder fs-6">Trabajo en progreso</p>
                <br>


                <img src="{{products.img}}" class="card-img-top rounded float-start " alt="..."
                    style="height: 40px; width: 40px;">
                <p class="text-center fw-bolder fs-6">Ofertas prometedoras</p>
                <br>

                <img src="{{products.img}}" class="card-img-top rounded float-start " alt="..."
                    style="height: 40px; width: 40px;">
                <p class="text-center fw-bolder fs-6">Leer despues</p>
                <br>

            </div>
            <div class="col-auto">

                <div class="vr h-100 "></div>

            </div>
            <div class="col-2 px-0">
                <div ng-repeat="avatar in avatars ">
                    <img src="{{avatar.img}}" class=" card-img-top float-start " alt="..."
                        style="border-radius:50% ; height: 75px; width: 75px;">
                    <p class="text-center fw-bolder fs-6" ng-bind="avatar.name"> <br>
                    <p class=" text-center fs-6" ng-bind="avatar.mail"></p>
                    </p>
                    <br>
                    <br>
                </div>


            </div>
            <div class="col-auto">

                <div class="vr h-100"></div>

            </div>
            <div ng-repeat="avatares in listCards" class="col-6">
                <p>
                    Jun 1 2021
                </p>
                <br>
                <p class="ms-5 fw-bold fs-3">Director HTTP</p>
                <br>
                <div class="row ">
                    <div class="col-auto">
                        <img src="{{avatares.img}}" alt="" style="border-radius:50% ; height: 75px; width: 75px;">

                    </div>
                    <div class="col-10 h-100">
                        <p class="fs-5 pt-3" ng-bind="avatares.description">
                        </p>
                        <p ng-bind="avatares.fecha" class="text-end"></p>
                    </div>
                </div>
                <hr>
                <br>
                <div ng-repeat="avatares in listCards2" class="row ">
                    <div class="col-auto">
                        <img src="{{avatares.img}}" alt="" style="border-radius:50% ; height: 75px; width: 75px;">

                    </div>
                    <div class="col-10 h-100">
                        <p class="fs-5 pt-3" ng-bind="avatares.description">
                        </p>
                        <p ng-bind="avatares.fecha" class="text-end"></p>
                    </div>
                </div>
                <hr>
                <br>
                <div ng-repeat="avatares in listCards3" class="row ">
                    <div class="col-auto">
                        <img src="{{avatares.img}}" alt="" style="border-radius:50% ; height: 75px; width: 75px;">

                    </div>
                    <div class="col-10 h-100">
                        <p ng-bind="avatares.fecha" class="text-end"></p>
                        <br>
                        <br>
                        <p class=" fw-light pt-3" ng-bind="avatares.description">
                        </p>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="input-group">
                        <textarea class="form-control" id="textAreaExample" rows="3"></textarea>

                        <button style="color: #fff; border-color:#000000 ; background-color: #863C34;" type="button"
                            class="btn ">Enviar</button>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <footer class="text-center sticky-bottom">
        <div ng-include src="'/views/component/footer.html'"></div>
    </footer>


    <script src="/components/popper.min.js"></script>
    <script src="/components/bootstrap-5.2.3/bootstrap.min.js"></script>
    <script src="/components/angularjs/angular-1.4.6.min.js"></script>
    <script src="/components/angularjs/angular-route.js"></script>
    <script src="/components/angularjs/angular-locale_es-mx.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/sweetalert/js/sweetalert2.min.js"></script>
    <script src="/controller/inboxAjs.js"></script>
</body>

</html>