<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COURSES | Inicio</title>
    <link rel="stylesheet" href="/components/css/bootstrap-5.2.3/bootstrap.css">
    <link rel="stylesheet" href="/components/css/font-Awesome-6.x/css/all.css">
</head>

<body>

    <header class="sticky-top">
        <nav class="navbar navbar-expand " style="background-color: #e3f2fd;">
            <div class="container-fluid ">
                <a class="navbar-brand" href="#">
                    COURSES
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Store</a>
                        </li>
                    </ul>

                </div>
        </nav>
    </header>

    <!--Sidebar de red social-->
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2  bg-light " >
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2  min-vh-100">
                    <ul class="nav nav-pills flex-column mb-auto mb-sm-auto mb-0 align-items-center align-items-sm-start ">
                        <li class="nav-item">
                          <a class="nav-link align-middle px-0 py-5 btn btn-primary" href="#">
                              <i class="fa-brands fa-facebook fa-2x" style="color:#000"></i>
                              <span class="s-1 d-none d-sm-inline text-dark">Facebook</span>
                          </a>
                      </li>
                        <li class="nav-item">
                          <a class="nav-link align-middle px-0 py-5" href="#">
                            <i class="fa-brands fa-instagram fa-2x" style="color:#000;"></i>
                            <span class="s-1 d-none d-sm-inline text-dark">Instagram</span>
                        </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link align-middle px-0 py-5" href="#">
                            <i class="fa-brands fa-twitter fa-2x" style="color:#000"></i>
                            <span class="s-1 d-none d-sm-inline text-dark">Twitter</span>
                        </a>
                      
                        </li>
                      </ul>
                </div>
             
              </div>
              <div class="col py-3">
                <div class="row">
                    <!--Carrusel de cursos-->
                    <div class="col-auto col-md-12 col-xl-12 bg-light " >
                      <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="true">
                          <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                  class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                  aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                  aria-label="Slide 3"></button>
                          </div>
                          <div class="carousel-inner">
                              <div class="carousel-item active">
                                  <div class="row justify-content-center pb-5">
                                      <div class="col-sm-4 col-md-4">
                                          <div class="card text-center h-100" style="width: 18rem;">
                                              <img src="/components/img/landing/OfficeWord.jpeg" class="card-img-top rounded mx-auto d-block img-fluid" alt="..." style="height: 150px;">
                                              <div class="card-body align-items-center">
                                                  <h5 class="card-title ">Microsoft Word</h5>
                                                  <p class="card-text">Aprende a mejorar el diseño y orden tus documentos</p>
                                                  <a href="#" class="btn btn-primary">Más</a>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-4 col-md-4">
                                          <div class="card text-center h-100" style="width: 18rem;">
                                              <img src="/components/img/landing/Photoshop.jpg" class="card-img-top rounded mx-auto d-block img-fluid" alt="..." style="height: 150px;">
                                              <div class="card-body">
                                                  <h5 class="card-title">Adobe Photoshop</h5>
                                                  <p class="card-text">Dale un mejor toque a cada una de las imagenes que desees.</p>
                                                  <a href="#" class="btn btn-primary">Más</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
        
                              </div>
                              <div class="carousel-item">
                                  <div class="row justify-content-center pb-5">
                                      <div class="col-sm-4 col-md-4">
                                          <div class="card text-center h-100" style="width: 18rem;">
                                              <img src="/components/img/landing/arduino.jpg" class="card-img-top rounded mx-auto d-block img-fluid" alt="..." style="height: 150px;">
                                              <div class="card-body">
                                                  <h5 class="card-title">Arduino</h5>
                                                  <p class="card-text">Aprende desde lo básico para automatizar diversas tareas</p>
                                                  <a href="#" class="btn btn-primary">Más</a>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-4 col-md-4">
                                          <div class="card text-center h-100" style="width: 18rem;">
                                              <img src="/components/img/landing/Blender.jpg" class="card-img-top rounded mx-auto d-block img-fluid" alt="..." style="height: 150px;">
                                              <div class="card-body">
                                                  <h5 class="card-title">Blender</h5>
                                                  <p class="card-text">Modela todas tus ideas en 3D</p>
                                                  <a href="#" class="btn btn-primary">Más</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
        
                              </div>
                              <div class="carousel-item">
                                  <div class="row justify-content-center pb-5">
                                      <div class="col-sm-4 col-md-4">
                                          <div class="card text-center h-100" style="width: 18rem;">
                                              <img src="/components/img/landing/CSS.png" class="card-img-top rounded mx-auto d-block img-fluid" alt="..." style="height: 150px;">
                                              <div class="card-body">
                                                  <h5 class="card-title">CSS</h5>
                                                  <p class="card-text">Mejora los diseños de tus paginas
                                                      con este lenguaje de estilos
                                                  </p>
                                                  <a href="#" class="btn btn-primary">Más</a>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-4 col-md-4">
                                          <div class="card text-center h-100" style="width: 18rem;">
                                              <img src="/components/img/landing/mysql.jpg" class="card-img-top rounded mx-auto d-block img-fluid" alt="hola style="height: 150px;">
                                              <div class="card-body">
                                                  <h5 class="card-title">MySQL</h5>
                                                  <p class="card-text">Deseas guardar informacion de tu app
                                                      con mysql lo puedes hacer
                                                  </p>
                                                  <a href="#" class="btn btn-primary">Más</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
        
                              </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                              data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                              data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                          </button>
                      </div>
                      </div>


                      <div class="col-auto col-md-12 col-xl-12 text-center">
                        <h3 class="mt-4 ">Mas Populares</h3>
                        <div class="d-flex flex-column align-items-center ">
                            <ul class="nav nav-pills flex-row mb-4 mt-4 ">
                                <li class="nav-item">
                                    <img src="/components/img/landing/Blender.jpg" class="rounded-circle img-fluid align-middle px-3" style="width: 120px;height:70px;">
                                    <span class="d-none d-sm-inline text-dark px-1">Blender</span>
                              </li>
                                <li class="nav-item">
                                <img src="/components/img/landing/mysql.jpg" class="rounded-circle img-fluid align-middle px-3" style="width: 120px;height:70px;">
                                <span class="s-1 d-none d-sm-inline text-dark">MySQL</span>
                                </li>
                                <li class="nav-item">
                                    <img src="/components/img/landing/OfficeWord.jpeg" class="rounded-circle img-fluid align-middle px-3" style="width: 120px;height:70px;">
                                <span class="s-1 d-none d-sm-inline text-dark">Ms Word</span>
                              
                                </li>
                              </ul>
                        </div>
                    </div>

        <!-- Section: Form -->
        <section class="col-auto col-md-12 col-xl-12 bg-light pt-5">
          <form action="">
            <!--Grid row-->
            <div class="row row-cols-md-2 d-flex justify-content-center">
        
              <!--Grid column-->
              <div class="col-md-4 col-8">
                <div class="form-outline ">
                  <input type="text" id="form5Example2" class="form-control" />
                  <label class="form-label" for="form5Example2">Usuario</label>
                </div>
              </div>
              <div class="col-md-5 col-8">
                  <!-- Email input -->
                  <div class="form-outline ">
                    <textarea  id="form5Example2" class="form-control"></textarea>
                    <label class="form-label" for="form5Example2">Comentarios</label>
                  </div>
                </div>
                <div class="col-md-4 col-8">
                  <!-- Email input -->
                  <div class="form-outline ">
                    <input type="email" id="form5Example2" class="form-control" />
                    <label class="form-label" for="form5Example2">Correo</label>
                  </div>
                </div>
              <!--Grid column-->
        
              <!--Grid column-->
              <div class="col-md-5 col-8">
        
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary mb-4">
                  Subscribe
                </button>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </form>
        </section>
        <!-- Grid container -->
              </div>
              </div>
        </div>

        
        
    </div>

      <!-- Footer -->
<footer class="text-center sticky-bottom" >
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #e3f2fd;">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
    


    <script src="/components/js/bootstrap-5.2.3/bootstrap.bundle.js"></script>
</body>

</html>