<!DOCTYPE html>
<html lang="en" ng-app="ux">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COURSES | Iniciar Sesión</title>
    <link rel="shortcut icon" href="/components/img/logo.png">
    <ng-include src="'/views/component/head.html'"></ng-include>
  </head>

  <body ng-controller="login">
    <header class="sticky-top">
      <div  ng-include src="'/views/component/navbar.html'"></div>
    </header>
    <section>
      <div class="container ">
        <div class="row d-flex my-0 justify-content-center">
          <div class="col-md-12 col-xl-12 col-sm-12 rounded my-5 mx-1" style="background: #80A09D;">
            <div class="row">
              <div class="col-md-6 col-lg-6 col-xl-5 mx-1 my-4 d-md-block d-sm-none d-none">
                <img
                  src="/components/img/logRegister/keyboard-typing-backward.jpg"
                  class="img-fluid rounded "
                  alt="Sample image"
                />
              </div>
                   
           <div class="col-md-5 col-lg-5 col-xl-6 px-5 col-12  py-3  rounded " >
                  <h1 id="register" class="fw-bold mb-5 text-center fa-2x mt-4">Login</h1>
                  <form name="form1" novalidate>
                    <!-- Email input -->
                    <div class="form-group form-floating mb-4"> 
                      <input
                        type="email"
                        class="form-control form-control-lg my-4"
                        ng-class="{
                          'is-valid' : form1.email.$valid && form1.$valid || form1.email.$valid && form1.$dirty,
                          'is-invalid' : form1.email.$invalid && form1.email.$dirty}"
                        id="floatinginput"
                        placeholder="Correo"
                        minlength="22"
                        maxlength="50"
                        name="email"
                        ng-model="email"
                      />
                      <label for="floatinginput" class="text-black-50" ng-hide="form1.email.$invalid && form1.email.$dirty">Correo</label>
                      <label ng-show="form1.email.$invalid && form1.email.$dirty" class="form-label" for="floatinginput"
                      style="color:#F00073;">Llena el campo</label>
                      <!-- <label class="form-label" for="form3Example3"
                        >Email address</label
                      > -->
                    </div>
      
                    <!-- Password input -->
                    <div class="form-group form-floating mb-3">
                      <input
                        type="password"
                        class="form-control form-control-lg my-4"
                        ng-class="{
                          '': form1.password.$untouched || form1.password.$touched,
                          'is-valid' : form1.password.$valid,
                          'is-invalid' : form1.password.$invalid && form1.password.$dirty}"
                        placeholder="Contraseña"
                        id="floatinginput"
                        name="password"
                        ng-model = "password"
                        minlength="4"
                        maxlength="10"
                        ng-required = "true"
                      />
                      <label for="floatinginput" class="text-black-50" ng-hide="form1.password.$invalid && form1.password.$dirty">Contraseña</label>
                      <label ng-show="form1.password.$invalid && form1.password.$dirty" class="form-label" for="floatinginput"
                      style="color:#F00073;">Llena el campo</label>
                      <!-- <label class="form-label" for="form3Example4">Password</label> -->
                    </div>
                    <div class="text-center mt-4 ">
                      <button
                        type="button"
                        class="btn btn-lg col-md-12 col-sm-12 col-xs-10 col-xl-12 col-12 text-white"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;background:#266B66;"
                        ng-disabled="form1.$pristine || form1.$invalid"
                        onclick="window.location.pathname = '/views/productList.html'">
                        Iniciar Sesión
                      </button>
                      <a class="text-body  btn col-md-6 col-sm-6 col-xs-2 col-xl-6 mt-2 col-6" 
                       onclick="window.location.pathname = '/views/register.html'" 
                       style="background:#00413B;color:#fff !important ;">
                        Registrarse
                      </a>
                    </div>
                  </form>
          
   
          </div>
        </div>
      </div>     
    </section>
      

    <footer class="text-center fixed-bottom">
      <div  ng-include src="'/views/component/footer.html'"></div>
    </footer>

    <script src="/components/popper.min.js"></script>
    <script src="/components/bootstrap-5.2.3/bootstrap.min.js"></script>
    <script src="/components/angularjs/angular-1.4.6.min.js"></script>
    <script src="/components/angularjs/angular-route.js"></script>
    <script src="/components/angularjs/angular-locale_es-mx.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/sweetalert/js/sweetalert2.min.js"></script>
    <script src="/controller/loginAjs.js"></script>
  </body>
</html>
