<!DOCTYPE html>
<html lang="en" ng-app="ux">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COURSES | Login</title>
    <link
      rel="stylesheet"
      href="/components/bootstrap-5.2.3/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="/components/font-Awesome-6.x/css/all.css"
    />
    <link
      rel="stylesheet"
      href="/components/sweetalert/css/sweetalert2.css"
    />
  </head>

  <body ng-controller="login">
    <header class="sticky-top "">
      <div  ng-include src="'/views/component/navbar.html'"></div>
    </header>
    
    <section class="h-auto">
      <div class="container-fluid my-5 mx-2">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img
              src="/components/img/logRegister/keyboard-typing-backward.jpg"
              class="img-fluid rounded-4"
              alt="Sample image"
            />
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 py-5 px-5 rounded" style="background: #5F97A4;">
            <form name="form1">
              <!-- Email input -->
              <div class="form-group mb-4">
                <input
                  type="email"
                  id="form3Example3"
                  class="form-control form-control-lg"
                  placeholder="Correo"
                  minlength="22"
                  maxlength="50"
                  name="email"
                  ng-model="email"
                />
                <label ng-show="form1.email.$invalid && form1.email.$dirty" class="form-label" for="form3Example3"
                style="color:#F00073;">Llena el campo</label>
                <!-- <label class="form-label" for="form3Example3"
                  >Email address</label
                > -->
              </div>

              <!-- Password input -->
              <div class="form-group mb-3">
                <input
                  type="password"
                  id="form3Example4"
                  class="form-control form-control-lg"
                  placeholder="Contraseña"
                  name="password"
                  ng-model = "password"
                />
                <label ng-show="form1.password.$invalid && form1.password.$dirty" class="form-label" for="form3Example3"
                style="color:#F00073;">Llena el campo</label>
                <!-- <label class="form-label" for="form3Example4">Password</label> -->
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <!-- Checkbox -->
                <div class="form-check mb-0">
                  <a class="text-body" for="form2Example3">
                    Registrarse
                  </a>
                </div>
                <a href="#!" class="text-body">Olvidaste tu contraseña?</a>
              </div>

              <div class="text-center mt-4 pt-2">
                <button
                  type="button"
                  class="btn btn-lg col-md-11 col-sm-11 col-xs-11 col-xl-11 text-white"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;background:#863C34;"
                  ng-disabled="form1.$pristine || form1.$invalid">
                  Iniciar Sesión
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <footer class="text-center sticky-bottom">
      <div  ng-include src="'/views/component/footer.html'"></div>
    </footer>

    <script src="/components/angularjs/angular-1.4.6.min.js"></script>
    <script src="/components/angularjs/angular-route.js"></script>
    <script src="/components/angularjs/angular-locale_es-mx.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap-5.2.3/bootstrap.min.js"></script>
    <script src="/components/sweetalert/js/sweetalert2.min.js"></script>
    <script src="/controller/loginAjs.js"></script>
  </body>
</html>
