<!DOCTYPE html>
<html lang="en" ng-app="ux">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COURSES | Pricing</title>
    <ng-include src="'/views/component/head.html'"></ng-include>
    <link
    rel="stylesheet"
    href="/components/CSS/pricing.css"
  />
  </head>

  <body ng-controller="login">
    <header class="sticky-top ">
      <div  ng-include src="'/views/component/navbar.html'"></div>
    </header>
    
   <div class="container">
    <div class="table2" >
      <div class="row">
        <div  class="section1"><img src="/components/img/pricing/Price.png" alt="La imagen no puede ser cargada"width=100% ><br><h1>Empieza a </h1>
          <h2>ahorrar </h2>
            <h3>Tu dinero</h3>
          <h4>Escoje el plan que funcione mejor contigo, contactanos para obtener mas información.</h4></div>
        <div class="section2" style="text-align:center;"><h1 style="font-size: 50px;">14 Dias de Prueba</h1>
          <div class=""style="padding: 50px;padding-right: 0px;padding-left: 0px;">
            <div class="basic">
              <h2>Plan Básico <br>$8 /Mes</h2>
              <div style="text-align: left;margin-left: 80px;margin-right: 0px;color: #fff;padding-top: 50px;">

                
                  <img src="/components/img/pricing/Vector.png" alt="La imagen no puede ser cargada" style="padding-right: 10px;padding-top: 10px;">
                  Asegura tu cuenta <br>
                  <img src="/components/img/pricing/Vector.png" alt="La imagen no puede ser cargada" style="padding-right: 10px;padding-top: 10px;">Hasta 2 tarjetas de credito <br>
                  <img src="/components/img/pricing/Vector.png" alt="La imagen no puede ser cargada" style="padding-right: 10px;padding-top: 10px;">Apoyo al cliente
              </div>
             <div style="padding: 30px; text-align:center;margin-right:20px;padding-top: 50px;padding-bottom: 50px;">
              <button type="button" class="btn" style="background-color: #F0F0F0;font-size: 25px;padding-left: 10px;padding-right: 20px;"> Empieza tu  prueba <img src="/components/img/pricing/Vector2.png" alt="La imagen no puede ser cargada"></button>
             </div>
            </div>
            
            <div class="premium">
              <h2>Plan Premium <br>$24 /Mes</h2>
              <div style="text-align: left;margin-left: 80px;margin-right: 0px;color: #fff;padding-top: 50px;">

                
                <img src="/components/img/pricing/Vector.png" alt="La imagen no puede ser cargada" style="padding-right: 10px;padding-top: 10px;">
                Tarjetas ilimitadas <br>
                <img src="/components/img/pricing/Vector.png" alt="La imagen no puede ser cargada" style="padding-right: 10px;padding-top: 10px;">Creditos Virtuales <br>
                <img src="/components/img/pricing/Vector.png" alt="La imagen no puede ser cargada" style="padding-right: 10px;padding-top: 10px;">Apoyo de expertos
            </div>
           <div style="padding: 30px; text-align:center;margin-right:20px;padding-top: 50px;padding-bottom: 50px;">
            <button type="button" class="btn" style="background-color: #863C34;font-size: 25px;padding-left: 10px;padding-right: 20px;color: #fff;"> Empieza tu  prueba <img src="/components/img/pricing/Vector3.png" alt="La imagen no puede ser cargada"></button>
           </div>
            </div>

          </div>
          
          
      </div>
    </div>
   </div>
   </div>
 
    
    <footer class="text-center sticky-bottom">
      <div  ng-include src="'/views/component/footer.html'"></div>
    </footer>

    <script src="/components/popper.min.js"></script>
    <script src="/components/bootstrap-5.2.3/bootstrap.min.js"></script>
    <script src="/components/angularjs/angular-1.4.6.min.js"></script>
    <script src="/components/angularjs/angular-route.js"></script>
    <script src="/components/angularjs/angular-locale_es-mx.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/sweetalert/js/sweetalert2.min.js"></script>
    <script src="/controller/loginAjs.js"></script>
  </body>
</html>
