<!DOCTYPE html>
<html lang="es" ng-app="ux">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COURSES | Product Detail</title>
    <link rel="stylesheet" href="/components/bootstrap-5.2.3/bootstrap.css" />
    <link rel="stylesheet" href="/components/font-Awesome-6.x/css/all.css" />
    <link rel="stylesheet" href="/components/sweetalert/css/sweetalert2.css" />
    <link rel="stylesheet" href="../components/CSS/notificaciones.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
  </head>
  <body ng-controller="productDetailController" class="bg-light">
    <header class="sticky-top">
      <div ng-include src="'/views/component/navLanding.html'"></div>
    </header>

    <div class="container-fluid">
      <div class="row g-0 text-center">
        <div class="col-sm-5" style="padding: 1%;">
          <img
            src="../components/img/productDetail/miku.webp"
            alt=""
            style="height: 100%; width: 85%;"
          />
        </div>
        <div class="col" style="padding: 1%;">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-start">JAVA</h5>
                  <p class="card-text text-start">
                    With supporting text below as a natural lead-in to
                    additional content.
                  </p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">
                    With supporting text below as a natural lead-in to
                    additional content.
                  </p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="background-color: #863c34; height: 10px;">-</div>

    <div class="container-fluid">
      <div class="row g-0 text-center">
        <div class="col-auto col-md-12 col-xl-12 bg-light ">
            <div class="row justify-content-center pb-3">
                <div class="col-sm-4 col-md-4 col-lg-4 my-2" ng-repeat="products in listCard">
                    <div class="card text-center h-100 text-white" style="width: 16rem;background: #189EBB">
                        <img src="{{products.img}}"
                            class="card-img-top rounded mx-auto d-block img-fluid w-100" alt="..."
                            style="height: 150px;">
                        <div class="card-body align-items-center">
                            <h5 class="card-title text-start" ng-bind="products.title"></h5>
                            <p class="card-text text-start" ng-bind="products.description"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <footer class="text-center sticky-bottom">
      <div ng-include src="'/views/component/footer.html'"></div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
      integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
      crossorigin="anonymous"
    ></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/popper.min.js"></script>
    <script src="/components/bootstrap-5.2.3/bootstrap.bundle.min.js"></script>
    <script src="/components/bootstrap-5.2.3/bootstrap.min.js"></script>
    <script src="/components/angularjs/angular-1.4.6.min.js"></script>
    <script src="/components/angularjs/angular-route.js"></script>
    <script src="/components/angularjs/angular-locale_es-mx.js"></script>
    <script src="/components/sweetalert/js/sweetalert2.min.js"></script>
    <script src="/controller/productDetail.js"></script>
  </body>
</html>
