<link rel="stylesheet" href="'window.location.hostname' + '/components/bootstrap-5.2.3/bootstrap.css'" />
    <link rel="stylesheet" href="'window.location.hostname' + '/components/font-Awesome-6.x/css/all.css'" />
    <link rel="stylesheet" href="'window.location.hostname' + '/components/sweetalert/css/sweetalert2.css'" />
    <link rel="stylesheet" href="'window.location.hostname' + '/components/CSS/notificaciones.css'" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="'window.location.hostname' + '/components/stepper/style.css'" />
    <link rel="icon"  type="image/png" href="'window.location.hostname' + '/components/img/logo.png'">