
    <nav class="navbar navbar-expand" style="background-color: #00413B;" >
        <div class="container-fluid " >
            <div style="background: #266b666a;height:40px;" class="rounded-circle mx-1">
                <img src="/components/img/logo.png" style="width: 30px;height:40px" class="img-fluid mx-3">
            </div>
            
            <a class="navbar-brand text-white" href="#">
                COURSES
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse  justify-content-center" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="#" onclick="window.location.pathname = '/views/productList.html'">Inicio</a>
                    </li>
                    <li class="nav-item dropdown" style="background: #00413B;">
                        <a class="nav-link dropdown-toggle text-white" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">Errores</a>
                        <ul class="dropdown-menu" style="margin-left: -2rem;margin-top:1rem;background: #00413B;">
                          <li><a class="dropdown-item  text-white" href="#" onclick="window.location.pathname = '/views/error-401.html'">Error 401</a></li>
                          <li><a class="dropdown-item  text-white" href="#" onclick="window.location.pathname = '/views/error-404.html'">Error 404</a></li>
                          <li><a class="dropdown-item text-white" href="#" onclick="window.location.pathname = '/views/error-500.html'">Error 500</a></li>
                        </ul>
                      </li>
                        <li class="nav-item">
                        <a class="nav-link text-white" href="#" onclick="window.location.pathname = '/views/dashboard.html'">Dashboard</a>
                    </li>
                        <ul class="navbar-nav position-absolute end-0 mx-2">
                            <li class="nav-item dropdownmx-3">
                                <!-- <a class="nav-link text-white" href="#"><i class="fa-solid fa-bell"></i></a> -->
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span><i class="fa-solid fa-bell"></i></span>
                                  </button>
                                  <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                    <ul class="navbar-nav">
                                      <li class="nav-item dropdown">
                                        <a class="nav-link text-white" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-bell"></i></a>
                                        <ul class="dropdown-menu notif" aria-labelledby="navbarDarkDropdownMenuLink" style="left: -200px; width: 350px; margin-top: -3rem;background: #00413B;">
                                          <!-- <div class="triangulo-equilatero-bottom"></div> -->
                                          <li style="margin: 10px;">
                                            <button
                                                type="button"
                                                class="btn text-white"
                                                style="width: 100%; height: 20%; border: 2px solid #000000;background:#266B66;"
                                                >
                                                <div class="row align-items-center">
                                                    <div class="col" style="text-align: justify;">
                                                        <p class="card-text ">Tus mejores dibujos con Illustrator</p>
                                                    </div>
                                                    <div class="col-auto align-middle" style="align-items: center;">
                                                        <i class="bi bi-x"></i>
                                                    </div>
                                                </div>
                                            </button>
                                            <hr style="color: white;">
                                            <button
                                                type="button"
                                                class="btn text-white"
                                                style="width: 100%; height: 20%; border: 2px solid #000000; background:#266B66;"
                                                >
                                                <div class="row align-items-start">
                                                    <div class="col" style="text-align: left;">
                                                        <p class="card-text">Aprende el mundo de programación con pseudocódigo.</p>
                                                    </div>
                                                    <div class="col-md-auto">
                                                        <i class="bi bi-x align-middle"></i>
                                                    </div>
                                                </div>
                                            </button>
                                          </li>
                                          <hr style="border-color: white;">
                                          <li style="margin: 10px;"><a class="dropdown-item text-wrap text-white btn" href="#">Tus mejores dibujos de programación.</a></li> 
                                          <hr style="border-color: white;">
                                          <li style="margin: 10px;"><a class="dropdown-item text-wrap text-white btn" href="#">Aprende el mundo de programación con pseudocódigo.</a></li> 
                                          <hr style="border-color: white;">
                                        </ul>



                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link text-white" href="#" onclick="window.location.pathname = '/views/carritoCompras.html'"><i class="fa-solid fa-cart-shopping"></i></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="/components/img/landing/Photoshop.jpg" style="width: 30px;height:30px" class="rounded-circle img-fluid mb-5"></a>
                                <ul class="dropdown-menu" style="margin-left: -7rem;margin-top:-2rem; background: #00413B;">
                                    <li><a class="dropdown-item text-white" href="#" onclick="window.location.pathname = '/views/profile.html'">Perfil</a></li>
                                  <li><a class="dropdown-item text-white" href="#" onclick="window.location.pathname = '/views/login.html'">Iniciar Sesion</a></li>
                                  <li><a class="dropdown-item text-white" href="#" onclick="window.location.pathname = '/views/register.html'">Registrarse</a></li>
                                  <li>
                                    <hr class="dropdown-divider">
                                  </li>
                                  <li><a class="dropdown-item text-white" href="#" onclick="window.location.pathname = '/views/index.html'">Salir</a></li>
                                </ul>
                              </li>
                              
                        </ul>
                </ul>

            </div>
    </nav>